/*========================================================
Filename	: en.css
Purpose		: Default stylesheet for TacSoftNetLite [English]
=========================================================*/


body, input, textarea, table, td, span, p, select, option
{
    font-family:Calibri;
	font-size: 13px;
}

body
{
	margin-top: 3px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.ltr
{
	direction:ltr;
	
}

.rtl
{
	direction:rtl;	
}

IMG
{
	border-width:0px;	
}

.Welcome
{
	color:#5F71B1;
	font-weight:bold;	
}

.User
{
	text-transform:capitalize;
}

/*Header*/
.hearderlogo
{
    cursor:hand;
	padding:2px 0px 2px 10px;	
}

.headerbg
{
  background-color:#efefef;  
}
.controlsmg
{
    padding:3px;
}



/* Dialogs */

.ImgButton
{
	cursor:hand;
	/*behavior:url(./Styles/Button.htc);*/
}




.WizardTitle
{
	font-weight:bold;
	font-size:36px;	
	padding-left:15px;
}

.WizardBottom
{
	background-color: #efefef;
}

.Wizard
{
	border-bottom-color:#efefef;
	border-bottom-style:solid;
	border-bottom-width:2px;	
}

.WizardContent
{
	background-color: White;
	padding:20px:20px:20px:20px;
}
.CVWizardContent
{
   background-color: White; 
   padding:20px:20px:10px:10px;
}
.CVGridWizardContent
{
  background-color: White; 
  padding:05px:20px:10px:10px;  
}
.jobWizardContent
{
    background-color: White;
    padding:10px:20px:10px:20px;
}
.JobContent
{
    background-color: White;
    padding:10px:20px:10px:20px;
}

.WizardMessage
{
	background-color:#e6e6e6;
}

.WizardAdd
{
	background-color:#efefef;
	padding:2px:2px:2px:2px;
}

.WizardAdd A
{
	color:Red;
	text-decoration:none;
}

.WizardView
{
	border-color:#efefef;
	border-style:solid;
	border-width:1px;	
}


.WizardViewHeader
{
	background-color:#efefef;
}

.WizardViewContent
{
	text-align:justify;
	height:120px;
	overflow:auto;	
	width:100%;
}
.JobViewContent
{
    text-align:justify;
	height:50px;
	overflow:auto;	
	width:100%;
}

.WizardTextContent
{
	height:190px;
	overflow:auto;	
	width:500px;
}
.CVOptions
{
   background-color:#c2e2f1; 
   padding:20px:20px:10px:10px; 
}

.WizardTContent
{
	overflow:auto;	
	width:550px;
}
/* Dialog  close */
/************** */
.login
{
    border :solid 1px #c1c1c1; 
	background-color:#efefef;
		
}
.loginbody
{
    margin :234 223 234 223;
}
.logintd
{
     background-image : url("images/line.gif");
     background-position : bottom center;
  background-repeat : no-repeat ;
}
.loginbtn
{
    background-color :#efefef;
    padding-top :10px;
    padding-bottom :10px;
   
}
.loginbtnmg
{
     padding-left :35px;
}
.headermg
{
    background-image :url(../images/nav_bg.jpg);
    
}
.tabheadermg
{
    padding-left :1px;
}
.footermg
{
  background-image :url(../images/ft_bg.jpg);  
}
.ddlheadertr
{
    padding-top :10px;
}

.homesearchtd
{
     background-color :#efefef;
}
.homechk
{
    margin-left:-5px;
}
.searchtd
{
    font-size :11px;
    color :#323232;
    padding-left :23px;
}
.publishbl
{
    color:#034c77;  
    padding-right:10px;
}
.repliedlbl
{
   color:#034c77;  
}
.repliedtd
{
    padding-left:23px;
    color:#034c77;
}
.repliedCVtd 
{
    border-bottom-color:#efefef;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

.repliedCVtd a
{
   color:#034c77;
}

.repliedCVtd a, .repliedCVtd a:visited
{
    color:#034e76;  
    text-decoration:none;
}

.hometbl
{
    border :solid 1px #efefef;
} 

.repliedCVtd a:hover
{
    color:Red;    
    text-decoration:underline;
}

.searchlabels
{
    color:#333333;
   padding-left :23px;
}
.searchlabels1
{
    color:#333333;
}
.txtsearch
{
    width :140px;
    border:solid 1px #cccccc;
  
}   
.txttdsearch
{
    padding-right:20px;
}
.txtexp
{
     border:solid 1px #cccccc;
     width :62px;
}
.searchbtn
{
    padding-right :28px;
}
.ddlsearch
{
   width :145px;
   border:solid 1px #cccccc; 
}
.LoginFields
{
	border-width:1px;
	border-color :white;
	margin-left:4px;
	background-color:White;
}
.logomg
{
    padding-left :30px;
    padding-bottom :3px;
    padding-top :3px;
}
.logoutlogomg
{
  background-color:#efefef;  
}

.logintbldata
{
   background-color :#d7d7d7; 
}
.loginlabels
{
  padding-left :25px;  
  color :#333333;
  font-size :11px; 
 } 
 .logintxttd
 {
    padding-top : 3px;
 }
 .loginddllang
 {
    padding-top :3px;
    padding-left : 4px;
 } 
 .forgettd
 {
    color:#efefef;
 }
 .forgetmsg
 {
    padding-left:20px;
    padding-top:5px;
 }
 /*Grid Lay Out*/

.Grid
{
    border-color:DarkGray;
	border-width:1px;
	border-style:solid;	
}

.HomeCatGrid
{
   border-color:#efefef;
}

.Bar
{
	margin-top:10px;	
}
.Header
{
	height:25px;
	background-color:#efefef;
	padding-left:5px;
}
.Footer
{
	height:25px;
	background-color:#efefef;
}
.GridItems
{
	padding:6px:6px:6px:5px;
	height:22px;
}
 
 tr.GridItems:hover, tr.over td
{
	background-color:White;
}

.GridItems A
{
	text-decoration:none;
	color:#034e76;
}
 
.HomeGridItems
{
  padding:6px:6px:6px:5px;
  height:22px;  
}

tr.HomeGridItems:hover, tr.over td
{
	background-color:White;
}

.HomeGridItems A
{
	text-decoration:none;
	color:#034e76;
}
.HomeGridItems A:hover
{
    color:Red;
    text-decoration:underline;
}
 

.Page
{
	color:#D70103;
}
.ItemCount
{
	color:Gray;	
}

/*Grid lay Out*/

/*Bread Crum*/
.Path A
{
	text-decoration:none;	
	color:#D70103;
}

/*change Password*/
.pwdtd
{
    padding-top:15px;
    padding-left:5px;
}
.pwdtilte
{
    font-size:12px;
}


      
/**************** */


.Margin
{
	margin-left:-4px;	
}

.Logout A
{
	color:Red;
	text-decoration:none;

}

.Logout A:Hover
{
	color:Green;
	text-decoration:none;
}

.Logout
{
	color:Blue;
	padding-left : 30px;
	font-size :11px;
		
}

.Calendar A
{
	text-decoration:none;
}

.CALSelected
{
	background-color:Navy;	
}
.Inv
{
	display:none;
	position:absolute;	
}

.Vis
{
	position:relative;	
}
.headertd
{
    padding-left :45px;
 }
 
 
 
 .hntitle
	{   
	    height:16px;
	    font-weight:bold;
	    padding:10px 0px 0px 15px;
	}
	
	.hntitle a, .hntitle a:visited
	{
	    color:#034e76;  
	    text-decoration:none;
	}
	
	.hntitle a:hover
	{
	    color:Red;    
	    text-decoration:underline;
	}
	
	.pager
	{
		  border:solid 1px #D2D1D5;
		  padding:3px 3px 3px 3px;
		  background-color:#F2F1F3;   
	}
	
	.gripper
	{
		padding-left:10px;
		background-image:url(../_images/common/gripper.gif);
		background-repeat:no-repeat;
		background-position:left;
	}
	
	/*  Login Page style    */
	
	.LBox
	{
		background-image:url(../Images/en/Login/login_bg.jpg);
		background-repeat:repeat-x;
		background-position:bottom;
		height:280px;
		width:100%;
	}
	
	.LBoxForgot
	{
		background-image:url(../Images/en/Login/login_bg.jpg);
		background-repeat:repeat-x;
		background-position:bottom;
		height:180px;
		width:100%;
	}	
	
	.hlogo
	{
		border-bottom:solid 1px #cfcfcf;
		padding-bottom:10px;	
	}
	
	.hlogoForgot
	{
		border-bottom:solid 1px #cfcfcf;
		padding-bottom:0px;
		vertical-align:baseline;	
	}
	
	#main1
    {		
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        z-index:990;        
        background-color:Gray;
        opacity:0.6;
        FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=60);
        display:none;
    }
    
    #nxt
    {		
        width:400px;
        height:270px;
        top:200px;
        left:300px;
        z-index:999;
        position:absolute; 
        display:none;
    }

