@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div> 
        You have been logged out of the application. Please close the current browser window to ensure your account security.
    </div>
</body>
</html>
