<style>
    md-select {
        /*width: 5em;*/
        max-height: 1em;
    }

    md-autocomplete {
        /*width: 7em;*/
        font-size: small;
    }

    md-input-container {
        max-height: 1em;
    }

    md-switch {
        margin-top: 0 !important;
    }

    label {
        margin-top: 0.3em !important;
        margin-right: 1em !important;
    }
</style>

<div layout="column" class="md-inline-form">

    <md-content layout-padding>
        <div>
            <form name="applicationSearchForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <regionselect></regionselect>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-select placeholder="{{'placeholders.MEMBER_STATE_SELECT' | translate}}" ng-model="memberState">
                                    <md-option value="1">Member A</md-option>
                                    <md-option value="2">Member B</md-option>
                                    <md-option value="6">Lebanon</md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-select placeholder="{{'placeholders.SELECT_ORG' | translate}}" ng-model="organization">
                                    <!--<md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>-->
                                    <md-option value="1">Dubai Civil Aviation</md-option>
                                    <md-option value="2">Pakistan Civil Aviation</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <coursecategory></coursecategory>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" layout="row">
                                <label class="control-label" style="white-space: nowrap">{{'placeholders.FEEDBACK_STATUS.FBS_LABEL' | translate}}</label>
                                <div class="container">
                                    <md-switch ng-model="data.cb1" aria-label="fbPending" class="md-primary" id="fbPending">
                                        {{'placeholders.FEEDBACK_STATUS.PENDING' | translate}}
                                    </md-switch>
                                    <md-switch ng-model="data.cb2" aria-label="fbCompleted" class="md-primary" id="fbCompleted">
                                        {{'placeholders.FEEDBACK_STATUS.COMPLETED' | translate}}
                                    </md-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-chips ng-model="ctrl.selectedStatuses" md-autocomplete-snap
                                          md-transform-chip="ctrl.transformChip($chip)"
                                          md-require-match="ctrl.requireMatch">
                                    <md-autocomplete md-selected-item="ctrl.selectedItem"
                                                     md-search-text="ctrl.searchText"
                                                     md-items="item in ctrl.queryStatusSearch(ctrl.searchText)"
                                                     md-item-text="item.name"
                                                     placeholder="{{'placeholders.STATUS_SEARCH' | translate}}">
                                        <!--<span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>-->
                                        <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            {{$chip.name}}
                                            <!--<strong>{{$chip.name}}</strong>-->
                                            <!--<em>({{$chip.type}})</em>-->
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-autocomplete flex
                                                 md-no-cache="ctrl.noCache"
                                                 md-selected-item="ctrl.selectedCourse"
                                                 md-search-text-change="ctrl.searchCourseChange(ctrl.searchCourse)"
                                                 md-search-text="ctrl.searchCourse"
                                                 md-selected-item-change="ctrl.selectedCourseChange(item)"
                                                 md-items="item in ctrl.courseSearch(ctrl.searchCourse)"
                                                 md-item-text="item.display"
                                                 md-min-length="0"
                                                 md-floating-label="{{'placeholders.COURSE_SELECT' | translate}}">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchCourse" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No courses matching "{{ctrl.searchCourse}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.TRNG_REF' | translate}}</label>
                                    <input id="txtTrainingRef">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.COURSE_NAME' | translate}}</label>
                                    <input id="txtCourseName">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.COURSE_REF' | translate}}</label>
                                    <input id="txtCourseRef">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.APP_REF' | translate}}</label>
                                    <input id="txtApplicationRef">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.APP_ID' | translate}}</label>
                                    <input id="txtApplicationID">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.APP_NAME' | translate}}</label>
                                    <input id="txtApplicationName">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.TRNG_START_DT' | translate}}</label>
                                    <input id="txtTrngStartDate" type="date">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.TRNG_END_DT' | translate}}</label>
                                    <input id="txtTrngEndDate" type="date">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.SUB_START_DT' | translate}}</label>
                                    <input id="txtSubStartDate" type="date">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>{{'placeholders.SUB_END_DT' | translate}}</label>
                                    <input id="txtSubEndDate" type="date">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions left">
                    <!--<button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn blue">
                        <i class="fa fa-check"></i> Save
                    </button>-->
                    <md-button class="md-raised">{{'buttons.RESET_BTN' | translate}}</md-button>
                    <md-button class="md-raised md-primary"><i class="fa fa-search"></i> {{'buttons.SEARCH_BTN' | translate}}</md-button>
                </div>

            </form>
        </div>
    </md-content>
</div>