<style>
    md-select {
        /*width: 5em;*/
        max-height: 1em;
    }

    md-autocomplete {
        /*width: 7em;*/
        font-size: small;
    }

    md-input-container {
        max-height: 1em;
    }

    md-switch {
        margin-top: 0 !important;
    }

    label {
        margin-top: 0.3em !important;
        margin-right: 1em !important;
    }
</style>

<div layout="column" ng-cloak class="md-inline-form">

    <md-content layout-padding>
        <div>
            <form name="applicationSearchForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-autocomplete flex
                                                 md-input-name="autocompleteRegion"
                                                 md-no-cache="ctrl.noCache"
                                                 md-selected-item="ctrl.selectedRegion"
                                                 md-search-text-change="ctrl.searchRegionChange(ctrl.searchRegion)"
                                                 md-search-text="ctrl.searchRegion"
                                                 md-selected-item-change="ctrl.selectedRegionChange(item)"
                                                 md-items="item in ctrl.regionSearch(ctrl.searchRegion)"
                                                 md-item-text="item.display"
                                                 md-min-length="0"
                                                 md-floating-label="Select Region">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchRegion" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No regions matching "{{ctrl.searchRegion}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-select flex placeholder="Select Member State" ng-model="memberState">
                                    <md-option value="1">Member A</md-option>
                                    <md-option value="2">Member B</md-option>
                                    <md-option value="6">Lebanon</md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-select flex placeholder="Select Organization" ng-model="organization">
                                    <!--<md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>-->
                                    <md-option value="1">Dubai Civil Aviation</md-option>
                                    <md-option value="2">Pakistan Civil Aviation</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-autocomplete flex
                                                 md-no-cache="ctrl.noCache"
                                                 md-selected-item="ctrl.selectedCourseCategory"
                                                 md-search-text-change="ctrl.searchCourseCategoryChange(ctrl.searchCourseCategory)"
                                                 md-search-text="ctrl.searchCourseCategory"
                                                 md-selected-item-change="ctrl.selectedCourseCategoryChange(item)"
                                                 md-items="item in ctrl.courseCategorySearch(ctrl.searchCourseCategory)"
                                                 md-item-text="item.display"
                                                 md-min-length="0"
                                                 md-floating-label="Select Course Category">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchCourseCategory" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No course categories matching "{{ctrl.searchCourseCategory}}" were found.
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" layout="row">
                                <label class="control-label">Feedback Status</label>
                                <div class="container">
                                    <md-switch ng-model="data.cb1" aria-label="fbPending" class="md-primary" id="fbPending">
                                        Pending
                                    </md-switch>
                                    <md-switch ng-model="data.cb2" aria-label="fbCompleted" class="md-primary" id="fbCompleted">
                                        Completed
                                    </md-switch>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-chips ng-model="ctrl.selectedStatuses" md-autocomplete-snap
                                          md-transform-chip="ctrl.transformChip($chip)"
                                          md-require-match="ctrl.requireMatch">
                                    <md-autocomplete md-selected-item="ctrl.selectedItem"
                                                     md-search-text="ctrl.searchText"
                                                     md-items="item in ctrl.queryStatusSearch(ctrl.searchText)"
                                                     md-item-text="item.name"
                                                     placeholder="Search for a status">
                                        <!--<span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>-->
                                        <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            {{$chip.name}}
                                            <!--<strong>{{$chip.name}}</strong>-->
                                            <!--<em>({{$chip.type}})</em>-->
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions left">
                    <!--<button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn blue">
                        <i class="fa fa-check"></i> Save
                    </button>-->
                    <md-button class="md-raised">Cancel</md-button>
                    <md-button class="md-raised md-primary"><i class="fa fa-check"></i> Save</md-button>
                </div>

            </form>
        </div>
    </md-content>
</div>