<style>
    .noTextWrap {
        white-space: nowrap !important;
    }
    .deleteButton {
        width: 20%;
    }
</style>

<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="editRegionsCtrl.regionPromise.$$state.status > 0">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div layout="column" class="md-inline-form" ng-show="editRegionsCtrl.regionPromise.$$state.status > 0">

    <md-content layout-padding>
        <div>
            <form name="regionEditForm" class="horizontal-form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Name (English)</label>
                                    <input ng-model="editRegionsCtrl.modelData.Name" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Name (Arabic)</label>
                                    <input ng-model="editRegionsCtrl.modelData.NameAr" required dir="rtl">
                                </md-input-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Abreviation</label>
                                    <input ng-model="editRegionsCtrl.modelData.Abrv" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">


                                <md-button aria-label="Select and Upload File" class="md-raised" ng-click='editRegionsCtrl.uploadSelectedFile()'>Select and Upload File</md-button>
                                <br />

                                <label ng-hide="editRegionsCtrl.regionFiles.length == 0 || editRegionsCtrl.regionFiles.length == undefined">Attachments (used in content)</label>
                                <table class="table table-condensed table-responsive" ng-hide="editRegionsCtrl.regionFiles.length == 0 || editRegionsCtrl.regionFiles.length == undefined">
                                    <thead>
                                        <tr>
                                            <th class="deleteButton"></th>
                                            <th>Uploaded Files</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="file in editRegionsCtrl.regionFiles" ng-model="editRegionsCtrl.regionFiles">
                                            <td class="deleteButton">
                                                <md-button aria-label="Delete File" class="md-raised" ng-click="editRegionsCtrl.deleteFile(file)">
                                                    <i class="fa fa-trash-o"></i>
                                                </md-button>
                                            </td>
                                            <td>
                                                <p ng-click="editRegionsCtrl.DownloadFile(file.FileUploaded, file.FileName)" class="ui-tabs-anchor">{{file.FileName}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>Description (English)</label>
                                    <textarea ng-model="editRegionsCtrl.modelData.Description" columns="1" md-maxlength="150" rows="5"></textarea>
                                </md-input-container>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block">
                                    <label>Description (Arabic)</label>
                                    <textarea ng-model="editRegionsCtrl.modelData.DescriptionAr" columns="1" md-maxlength="150" rows="5" dir="rtl"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-switch class="md-primary" md-no-ink aria-label="Region Enabled" ng-model="editRegionsCtrl.modelData.IsEnabled">
                                    <label>Enabled?</label>
                                </md-switch>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="form-actions left">
                    <!--<button type="button" class="btn default">Cancel</button>
                    <button type="submit" class="btn blue">
                        <i class="fa fa-check"></i> Save
                    </button>-->
                    <md-button aria-label="Submit" class="md-raised md-primary" ng-click="editRegionsCtrl.EditRegion(editRegionsCtrl.modelData)"><i class="fa fa-check"></i> Submit</md-button>
                    <md-button aria-label="Reset" class="md-raised">{{'buttons.RESET_BTN' | translate}}</md-button>

                </div>
            </form>
        </div>
    </md-content>
</div>
{{editRegionsCtrl.fileToBeUploaded}}