@model List<SEIBK.Web.Models.Account>

    @{
        ViewBag.Title = "Summary";
    }

    <h2>Summary</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="flip-content">
            <tr>
                <th>
                    Account ID
                </th>
                <th>
                    Account Number
                </th>
                <th>
                    Type
                </th>
                <th>
                    Available Balance
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@Html.ActionLink(account.AccID.ToString(), "AccountDetails", new { accId = account.AccID })</td>
                    <td>@account.AccNum</td>
                    <td>@account.AccType</td>
                    <td>@account.Balance</td>
                </tr>
            }
        </tbody>
    </table>
</div>
