<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/FA.csdl|res://*/FA.ssdl|res://*/FA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDARTIDBDEV;initial catalog=FutureAviator;user id=report1;password=report1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
  <httpModules>
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
    </httpModules></system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <remove statusCode="403"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/404/"/>
      <error statusCode="500" responseMode="ExecuteURL" path="/500"/>
      <error statusCode="403" responseMode="ExecuteURL" path="/403"/>
    </httpErrors>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  <validation validateIntegratedModeConfiguration="false" /><modules>
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
		</modules></system.webServer>
  <appSettings>
    <add key="ChannelID" value="UCNtaDbQvj2i-6KN1araC3Hg" />
    <!--<add key="ChannelID" value="UCXJwBKE4pqHVFqgSMvbb2ug "/>-->
    <add key="GoogleDevKey" value="AI39si4LWmfkdGQ7ld_-gytsybSJTDOlBW8ZTTbpq7Up22AWRAp1ChppuOM4vSjMIhQkHHWKgg8wyMh6CrbYD554pKKOxLtOQA" />
    <!--Emails-->
    <add key="ToEmailAddress" value="info@futureaviators.ae" />
    <add key="FromEmailAddress" value="notification@futureaviator.gov.ae" />
    <add key="EmailSubWithProj" value="Customer contacted for Project " />
    <add key="EmailSubWithoutProj" value="Customer contacted" />
    <add key="SMTPServer" value="127.0.0.1" />
    <add key="SaltValueSize" value="5" />
    <add key="DefaultSalt" value="123456789" />
    <add key="AdminSiteURL" value="~/Admin/AdminWelcome.aspx" />
    <add key="HomePage" value="~/Default.aspx" />
    <add key="EventDetailsPath" value="~/UploadedFiles/" />
    <add key="PressReleasesImages" value="~/UploadedFiles/PressReleases/" />
    <add key="PressReleaseLength" value="250" />
    <add key="EventsAlert" value="events@futureaviator.com" />
    <add key="NoReply" value="no-reply@futureaviators.ae" />
  </appSettings>
</configuration>